    window-rule {
    geometry-corner-radius 3 // Set every window radius to 3
    clip-to-geometry true
    background-effect {
        xray true
    }
}

    layer-rule {
    match namespace=r"^noctalia-wallpaper*"
    place-within-backdrop true

    background-effect {
        blur false
    }
}
